* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins';font-size: 17px;
    
}

.container-fluid {
    position: absolute;
    top: 5px !important;
}
.carousel-item img {
    height: 650px !important;
}

.carousel-item .carousel-caption button:hover {
    background: #009a40;
    transition: 0.5s !important;
}


.carousel-control-prev-icon {
    border: 2px solid white;
    border-radius: 30px;
    width: 60px;
    height: 60px;
}

.carousel-control-next-icon {
    border: 2px solid white;
    border-radius: 30px;
    width: 60px;
    height: 60px;
}
.carousel-control-next-icon:hover {
     background: yellow;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    transition: 2s ease-out 100ms !important;
}
.carousel-control-prev-icon:hover {
    background: yellow;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    transition: 2s ease-out 100ms !important;
}



.navbar {
    position: absolute;
    top: 70px;
    width: 100%;
    height: 66px;
}

.nav-item {
    margin-left: 40px !important;
    font-weight: bold;
}

.nav-item a:hover{
    color: yellow !important;
    border-bottom: 2px solid yellow;
}


.section {
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 70px;
    margin-right: 73px;
}




.content-section h2{
    font-family: 'poppins';
    font-weight: 900;
    font-size: 50px;
    margin-top: 40px;

}
.content-section .row {
    margin-top: 50px !important;
    margin-right: 100px !important;
    margin-left: 100px !important;
    font-size: 18px;
    opacity: 0.8;
    border-bottom: 1px solid yellow;
}
.content-section .row p {
    padding-top: 50px !important;
}

.content-section .row .col {
    margin-top: 70px !important;
}

.custom-icons { 
    margin-top: 100px; 
    font-size: 40px;
    background-color: #009a40;
    border-radius: 80px;
    color: white;
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 40px;
    padding-bottom: 40px;
}


.btn{
    border: none !important;
    margin-top: 60px !important;
}

.btn button:hover {
    background: darkgoldenrod !important;
}

.partners {
    align-items: center;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px !important;
}
.partners img {
    width: 60px;
    height: 55px;
    margin: 30px;
    text-align: center;
}
.partners h2 {
    padding-top: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 40px;
}
.kic img {
    width: 240px !important;
    height: 100px !important;
    margin-top: 30px !important;
    margin-left: 50px !important;
    margin-bottom: 20px !important;
}

.footer-content {
    border-top: 2px solid yellow;  
    background: #009a40;
    color: white;
    font-weight: 200;
    padding-top: 150px;
    padding-left: 30px;
    padding-bottom: 50px;
}

.footer-content img {
    width: 140px;
    height: 70px;
}
